

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Crimson+Text&family=Major+Mono+Display&family=Work+Sans:ital,wght@1,300;1,600&display=swap');


/* DEVICES (mobile version) */
@media only screen and (min-width: 350px){

	#topname{
	margin-left:5vw;
	color: #000000;
	font-family: 'Cormorant Garamond', serif;
	font-size: 2.5em;
	text-align: left;
	}

	img{
		height: auto;
  	width: 100%;
	}

	#topname: visited{
		color: #000000;
	}

	#topbar{
		margin-left:15px;
	}

	#introself h2{
		font-family: 'Cormorant Garamond', serif;
	}

	a{
		color: #000000;
	}

	h2{
		font-family: 'Major Mono Display', monospace;
		font-size:2em;
	}

	h3{
		font-family: 'Cormorant Garamond', serif;
	}

	p{
		font-family: 'Work Sans', sans-serif;
	}

	#topbar a{
		margin-right: 15px;
		color: #000000;
	}

	#topbar a:hover{
	  background-color: #5A708C;
	  color: #FFFFFF;
	  font-size:1.25em;
	}

	#topbar a:active{
	  background-color: #D5E0F5;
	  color:#5A708C;
	}

	#topbar a:link{
	  font-style: italic;
	}

	#topbar a:visited{
	  text-decoration: underline;
	}

	header{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr .5fr;
		grid-gap: 20px;
	}

	nav{
		font-size: 1em;
	}

	footer{
		background-color:#5A708C;
		padding:1.5vw;
		color: #FFFFFF;
		padding-left:5vw;
	}

	a{
		text-decoration:none;
	}

	#selffront{
		margin-left:2.5vw;
	}

	#introself{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		color: #5A708C;
	}

	button{
		background-color: #D3D3D3;
		border-radius: 6px;
		padding:5px;
		border: none;
	  color: #FFFFFF;
	  padding: 10px;
	  text-align: center;
	  text-decoration: none;
		opacity: 0.5;
	}

	button:hover{
		background-color:#FFFFFF;
	}

	button: hover{
		  color: #000000;
		  font-size:1.25em;
	}

	#heyintro{
		font-size: 2em;
		font-family: 'Crimson Text', serif;
	}

	#smallerintro{
			font-size: .75em;
	}

	#aboutself{
		margin-top:40px;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	#designgroup{
		margin: 5vw;
	}

	figure{
		margin:0;
		padding:0;
	}


	figcaption{
		margin:0;
		padding:0;
	}

	#topdesigngrid{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;

	}

	#designgrid{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		margin: none;
	}

	#photographygroup{
		margin: 5vw;
	}

	#paintinggroup{
		margin: 5vw;
	}

	#piccollage{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	#whiteblock{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	#skyblock{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	#animalblock{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	#blueblock{
		display: grid;
		grid-template-columns: 1fr;

		grid-gap: 10px;
	}

	#firstgroup{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		margin-bottom:10px;
	}

	#secondgroup, #thirdgroup{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		margin-bottom:10px;
	}

}

/* DEVICES (laptop) */
@media only screen and (min-width: 768px){

	#topname{
	margin-left:5vw;
	font-size: 2.125em;
	text-align: left;
	}

	header{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 20px;
	}

	#topbar{
	text-align: right;
	margin-right: 5vw;
	}

	#topbar a{
		margin-right: 30px;
		color: black;
	}

	nav{
		font-size: 1.25em;
		margin-top:25px;
	}

	#introself{
		margin-top:40px;
		grid-template-columns: 1fr 1fr;
		background-color: #5A708C;
		padding:5vw;
		margin: 5vw;
		color: white;
	}

	#selffront{
		margin-left:10vw;
	}

	#heyintro{
		font-size: 2em;
		margin-top: 3vw;
	}

	#aboutself{
		margin-top:40px;
		margin-left:5vw;
		margin-right: 5vw;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}

	#aboutself article{
		padding:25px;
	}

	#doingnow{
	margin-top:13vw;
	}

	#topdesigngrid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 10px;
	}

	#designgrid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		margin: none;
	}

	#piccollage{
		grid-template-columns: 1fr 1fr;
	}

	#whiteblock{
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#skyblock{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr ;
	}

	#animalblock{
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#blueblock{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#firstgroup{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	#secondgroup, #thirdgroup{
		grid-template-columns: 1fr 1fr;
	}

	img{
		height: auto;
  	width: auto;
	}

}
